<div class="flex flex-col gap-2 p-4 border rounded-lg border-gray-800">
  <div class="flex gap-4">
    <div class="flex-1">
      <span
        class="block w-full py-1 mb-1 uppercase text-gray-200 border-b border-gray-800 textli"
      >
        {{ character?.name }}
      </span>
      <h1 class="text-gray-400 text-xs uppercase self-center">Name</h1>
    </div>
    <div class="px-4 py-2 bg-gray-800 rounded-md text-center">
      <span class="block min-w-[32px] font-bold text-lg">
        {{ character?.level }}
      </span>
      <h1 class="text-gray-400 text-xs uppercase self-center">lvl</h1>
    </div>
  </div>

  <div>
    <span
      class="block w-full py-1 mb-1 uppercase text-gray-200 border-b border-gray-800 textli"
    >
      {{ character?.race?.name }}
    </span>
    <h1 class="text-gray-400 text-xs uppercase self-center">Race</h1>
  </div>

  <div>
    <span
      class="block w-full py-1 mb-1 uppercase text-gray-200 border-b border-gray-800 textli"
    >
      Backstory
    </span>
    <h1 class="text-gray-400 text-xs uppercase self-center">Alignment</h1>
  </div>
</div>
