<section
  id="character-health"
  class="p-2 pl-4 relative flex flex-row items-center border rounded-lg border-gray-800"
>
  <span class="flex-1 flex gap-4 items-baseline justify-center">
    <span class="font-bold text-4xl">20</span>
    out of
    <span class="font-bold text-4xl">20</span>
  </span>

  <div class="flex flex-col gap-2">
    <button
      class="px-4 py-2 border border-emerald-800 hover:bg-emerald-800 transition-colors rounded-lg"
    >
      Heal
    </button>
    <button
      class="px-4 py-2 border border-rose-900 hover:bg-rose-900 transition-colors rounded-lg"
    >
      Damage
    </button>
  </div>
</section>
