<div
  id="default-header-content"
  class="w-full max-w-screen-xl flex items-center gap-2 px-6 py-4"
>
  <button class="default-header-btn" routerLink="/">D&D</button>
  <button
    class="default-header-btn"
    routerLink="/player"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Overview
  </button>
  <button
    class="default-header-btn"
    routerLink="/player/rules"
    routerLinkActive="active"
  >
    Rules
  </button>
  <button
    class="default-header-btn"
    routerLink="/player/characters"
    routerLinkActive="active"
  >
    Characters
  </button>
</div>
