:host {
  @apply flex border-b box-border justify-center border-gray-600 w-full;
}

.default-header-btn {
  @apply px-4 py-1 rounded-lg font-medium text-neutral-400 transition-colors hover:bg-gray-900 hover:text-white;
  min-width: 100px;
}

.default-header-btn.active {
  @apply bg-gray-800/50 text-white;
}
