<div class="flex flex-col gap-4">
  <section class="flex flex-row gap-4 max-w-md">
    <dnd-companion-character-stats-box
      label="Armor Class"
      [value]="14"
    ></dnd-companion-character-stats-box>

    <dnd-companion-character-stats-box
      label="Initiative"
      value="+1"
    ></dnd-companion-character-stats-box>

    <dnd-companion-character-stats-box
      label="Speed"
      value="30"
    ></dnd-companion-character-stats-box>
  </section>

  <dnd-companion-character-health></dnd-companion-character-health>

  <section class="flex flex-row gap-4 max-w-md">
    <dnd-companion-character-hit-dice
      [character]="character"
    ></dnd-companion-character-hit-dice>
    <dnd-companion-character-death-saves></dnd-companion-character-death-saves>
  </section>
</div>
