:host {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.main-btn {
  @apply font-bold border-2 px-14 py-2 rounded-lg transition-colors 
    hover:bg-white hover:text-black;
}
